<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.capag.friedli.pfcpro">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:icon="@mipmap/ic_launcher_cap"
        android:label="CAPAG"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name="com.capag.friedli.pfcpro.MainActivity"
            android:label="CAPAG"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter android:label="PFCPro">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.capag.friedli.pfcpro.CalcPower"
            android:label=""
            android:parentActivityName="com.capag.friedli.pfcpro.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capag.friedli.pfcpro.MainActivity" />
        </activity>
        <activity
            android:name="com.capag.friedli.pfcpro.CalcVerd"
            android:label=""
            android:parentActivityName="com.capag.friedli.pfcpro.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capag.friedli.pfcpro.MainActivity" />
        </activity>
        <activity
            android:name="com.capag.friedli.pfcpro.CalcCK"
            android:label=""
            android:parentActivityName="com.capag.friedli.pfcpro.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capag.friedli.pfcpro.MainActivity" />
        </activity>
        <activity
            android:name="com.capag.friedli.pfcpro.calcQ"
            android:label=""
            android:parentActivityName="com.capag.friedli.pfcpro.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capag.friedli.pfcpro.MainActivity" />
        </activity>
        <activity
            android:name="com.capag.friedli.pfcpro.CalcBill"
            android:label=""
            android:parentActivityName="com.capag.friedli.pfcpro.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capag.friedli.pfcpro.MainActivity" />
        </activity>
        <activity
            android:name="com.capag.friedli.pfcpro.CalcInfo"
            android:label=""
            android:parentActivityName="com.capag.friedli.pfcpro.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capag.friedli.pfcpro.MainActivity" />
        </activity>

    </application>

</manifest>